@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: #f5f6fa;
}

/* Hover for add/remove score for comment */
.button-hover:hover .icon path {
  fill: #5358b6;
}
.buttonLight-hover:hover .icon path {
  fill: white;
}
